<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Shopping Cart</title>
    <link rel="stylesheet" href="../cart/cart.css">
</head>
<body>
<!--   cart -->
<div class="cartTab">
    <h1>Shopping Cart</h1>
    <div class="list-cart">
        <div class="item">
            <div class="image">
                <img src="/image/product1.webp" alt="">
            </div>
            <div class="name">Name</div>
            <div class="totalPrice">
                $200
            </div>
            <div class="quantity">
                <button class="minus">&lt;</button>
                <span>1</span>
                <button class="plus">&gt;</button>
            </div>
        </div>
    </div>
    <div class="btn">
        <button class="close" type="submit">Close</button>
        <button class="checkOut" type="submit">
            <a href="./checkout.html" style="text-decoration: none; color: white;">Check Out</a>
        </button>
    </div>
</div>
<script src="../js/cart.js"></script>
</body>
</html>