<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Shopping Cart</title>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <link rel="stylesheet" href="../cart/cart.css" >
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!------ Include the above in your HEAD tag ---------->
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
</head>
<body>
<!--<header th:replace="~{cms/common/header::header}"></header>-->
<div class="container" id="listProductCart">
    <table id="cart" class="table table-hover table-condensed">
        <thead>
        <tr>
            <th style="width:50%">Product</th>
            <th style="width:10%">Price</th>
            <th style="width:8%">Quantity</th>
            <th style="width:22%" class="text-center">Total Quantity</th>
            <th style="width:10%"></th>
        </tr>
        </thead>
        <tbody>
<!--        <tr>-->
<!--            <td data-th="Product">-->
<!--                <div class="row">-->
<!--                    <div class="col-sm-2 hidden-xs"><img src="/image/product8.webp" alt="Product" class="img-responsive"/></div>-->
<!--                    <div class="col-sm-10">-->
<!--                        <h4 class="nomargin">Product 1</h4>-->
<!--                        <p> Lorem ipsum dolor sit amet.</p>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </td>-->
<!--            <td data-th="Price">$1.99</td>-->
<!--            <td data-th="Quantity">-->
<!--                <label>-->
<!--                    <input type="number" class="form-control text-center" value="1">-->
<!--                </label>-->
<!--            </td>-->
<!--            <td data-th="Subtotal" class="text-center">1.99</td>-->
<!--            <td class="actions" data-th="">-->
<!--                <button class="btn btn-info btn-sm"><i class="fa fa-refresh"></i></button>-->
<!--                <button class="btn btn-danger btn-sm"><i class="fa fa-trash-o"></i></button>-->
<!--            </td>-->
<!--        </tr>-->
        </tbody>
        <tfoot>
        <tr class="visible-xs">
            <td class="text-center" id="totalPrice"><strong>Total 1.99</strong></td>
        </tr>
        <tr>
            <td><a href="http://localhost:8082/guest/homepage" class="btn btn-warning"><i class="fa fa-angle-left"></i> Continue Shopping</a></td>
            <td colspan="2" class="hidden-xs"></td>
            <td class="hidden-xs text-center" id="totalQuantityInCart"><strong>0</strong></td>
            <td><a href="http://localhost:8082/guest/checkout" class="btn btn-success btn-block">Checkout <i class="fa fa-angle-right"></i></a></td>
        </tr>
        </tfoot>
    </table>
</div>
<!--<footer th:replace="~{cms/common/footer::footer}"></footer>-->
<script src="../js/cart.js"></script>
<script src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
<!--<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>-->
</body>
</html>